# enabling DEV will print every query/execution to the chain
# DEV=1
NODE_ENV=development
SECRET_LCD=http://localhost:1317
SECRET_RPC=http://localhost:26657
SECRET_CHAIN=secretdev-1
CONTRACT_PATH=../../contract.wasm.gz

# Secret's evaporation API is currently broken
# ENABLE_EVAPORATION_TESTS=1
